<html>
<head>
    <title>Actor - <%= result[0].first_name %> <%= result[0].first_name %></title>
</head>
<body>
<h1>Actors</h1>
<ul>
    <li>Actor ID: <%= result[0].actor_id%></li>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Age: <%= result[0].age %></li>
</ul>
</body>

</html>