<%- include("../includes/header.ejs", {title:"Actor - View All"}); %>

<h1>Movies</h1>
<a href="/actor/add">Add New Actor</a> <br />

<br />

<table border="1">
    <tr><th>Actor</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].first_name %>, <%= result[i].last_name %>, <%= result[i].age %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/actor/edit/?actor_id=<%= result[i].actor_id %>'">Edit</button>
            <form action="/actor/delete/" style="display:inline;">
                <input type="hidden" name="actor_id" id="actor_id" value="<%= result[i].actor_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>