<html>
<head>
    <title>Add New Actor</title>
</head>

<body>
<h1>Add New Actor</h1>
<form action="/actor/insert" method="get">
    First Name: <input id="first_name" name="first_name" type="text"/>
    <br/>
    <br/>
    Last Name: <input id="last_name" name="last_name" type="text"/>
    <br/>
    <br/>
    Age: <input id="age" name="age" type="text"/>
    <br/>
    <br/>
    <input type="submit" />

</form>
</body>

</html>