<html>
<head>
    <title> Update: <%= actor.name%></title>
</head>
<body>
<h1>Update: <%=actor.first_name%> <%=actor.last_name%></h1>
<form action="/actor/update" method="get">
    <input type="hidden" id="actor_id" name="actor_id" value="<%= actor.actor_id%>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= actor.first_name%>"/>
    <br/>
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= actor.last_name%>"/>
    <br/>
    Age: <input id="age" name="age" type="text" value="<%= actor.age%>"/>
    <br/>
    <input type="submit" />
</form>
</body>
</html>