<!DOCTYPE html>
<html>
<head>
    <style>
        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        header, footer {
            padding: 1em;
            color: white;
            background-color: darkred;
            clear: left;
            text-align: center;
        }

        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<body>

<div class="container">

    <header>
        <h1>Cinema Database Website</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/movies/all">Movies - View All</a></li><br/>
            <li><a href="/actors/all">Actors - View All</a></li><br/>
            <li><a href="/directors/all">Directors - View All</a></li><br/>
            <li><a href="/about">About</a></li>

        </ul>
    </nav>

    <article>
        <p>- Click to view view all of the movies.</p>
        <p>- Click to view view all of the actors.</p>
        <p>- Click to view view all of the directors.</p>
        <p>- Click to view the about page.</p>

    </article>

</div>

</body>
</html>