<%- include("./includes/header.ejs", {title: title}); %>

<h1><%= title %></h1>
<p>Welcome to the about page!</p>
<p>The purpose of this website is to look up movies and see the actors in the different movies as well as the directrors.</p>


<%- include("./includes/footer.ejs"); %>