<html>
<head>
    <title>Add New Movie</title>
</head>

<body>
<h1>Add New Movie</h1>
<form action="/movie/insert" method="get">
    Name: <input id="name" name="name" type="text"/>
    <br/>
    <br/>
    Year: <input id="year" name="year" type="text"/>
    <br/>
    <br/>
    <input type="submit" />

</form>
</body>

</html>