<html>
<head>
    <title>Movies - <%= result[0].name %></title>
</head>
<body>
<h1>Movies</h1>
<ul>
    <li>Movie ID: <%= result[0].movie_id%></li>
    <li>Name: <%= result[0].name %></li>
    <li>Year: <%= result[0].year %></li>
</ul>
</body>

</html>