<%- include("../includes/header.ejs", {title:"Movie - View All"}); %>

<h1>Movies</h1>
<a href="/movie/add">Add New Movie</a> <br />

<br />

<table border="1">
    <tr><th>Movie<th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].name %>, <%= result[i].year %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/movie/edit/?movie_id=<%= result[i].movie_id %>'">Edit</button>
            <form action="/movie/delete/" style="display:inline;">
                <input type="hidden" name="movie_id" id="movie_id" value="<%= result[i].movie_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>