<html>
<head>
    <title> Update: <%= movie.name%></title>
</head>
<body>
<h1>Update: <%=movie.name%></h1>
<form action="/movie/update" method="get">
    <input type="hidden" id="movie_id" name="movie_id" value="<%= movie.movie_id%>">
    Name: <input id="name" name="name" type="text" value="<%= movie.name%>"/>
    <br/>
    Year: <input id="year" name="year" type="text" value="<%= movie.year%>"/>
    <br/>
    <input type="submit" />
</form>
</body>
</html>