<html>
<head>
    <title> Update: <%= director.name%></title>
</head>
<body>
<h1>Update: <%=director.first_name%> <%=director.last_name%></h1>
<form action="/director/update" method="get">
    <input type="hidden" id="director_id" name="director_id" value="<%= director.director_id%>">
    First Name: <input id="first_name" name="first_name" type="text" value="<%= director.first_name%>"/>
    <br/>
    Last Name: <input id="last_name" name="last_name" type="text" value="<%= director.last_name%>"/>
    <br/>
    Age: <input id="age" name="age" type="text" value="<%= director.age%>"/>
    <br/>
    <input type="submit" />
</form>
</body>
</html>