<%- include("../includes/header.ejs", {title:"Director - View All"}); %>

<h1>Movies</h1>
<a href="/director/add">Add New Director</a> <br />

<br />

<table border="1">
    <tr><th>Director</th><th>Action</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].first_name %>, <%= result[i].last_name %>, <%= result[i].age %></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/director/edit/?director_id=<%= result[i].director_id %>'">Edit</button>
            <form action="/director/delete/" style="display:inline;">
                <input type="hidden" name="director_id" id="director_id" value="<%= result[i].director_id %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>