<html>
<head>
    <title>Director - <%= result[0].first_name %> <%= result[0].first_name %></title>
</head>
<body>
<h1>Directors</h1>
<ul>
    <li>Director ID: <%= result[0].director_id%></li>
    <li>First Name: <%= result[0].first_name %></li>
    <li>Last Name: <%= result[0].last_name %></li>
    <li>Age: <%= result[0].age %></li>
</ul>
</body>

</html>